<div class="main-page">

  <header class="top-header">
    <h1 class="app-name">Cheers</h1>
  </header>

  <div class="tabs">
    <div class="serious-tab">{{#link-to "serious"}}Serious{{/link-to}}</div>
    <div class="global-tab">{{#link-to "global"}}Global{{/link-to}}</div>
    <div class="funny-tab">{{#link-to "funny"}}Funny{{/link-to}}</div>
    <div class="most-popular-tab">{{#link-to "index"}}Popular{{/link-to}}</div>
  </div>

  <div class="main-content">
    <h2 class="category-title">Most Popular</h2>
    <div class="toast-box">
      <p class="toast-box-quote">"Cheers bitch!"</p>
      <p class="toast-box-person">- Anonymous</p>
    </div>

    <div class="toast-box">
      <p class="toast-box-quote">"Everybody drink!"</p>
      <p class="toast-box-person">- Anonymous</p>
    </div>

    <div class="toast-box">
      <p class="toast-box-quote">"Why is there not beer in your mouth?"</p>
      <p class="toast-box-person">- Anonymous</p>
    </div>
  </div>

</div>
